body{
      background: linear-gradient(to top, #123e95 5%, #982173 30%, #e1010c 65%, #e1010c 45%, #ff9041) !important;    height: 100vh;
       background-repeat: no-repeat!important;
    background-attachment: fixed !important;
}
.wrapperDiv{
      max-width: 400px;
    
    margin: auto;

}
.center_divStyle{
  position: relative;
  top: 280px;
}
.regis_text{
      font-size: 23px;
    color: white;
    opacity: 0;
   position: relative;
    top: -50px;
    animation: regis_text 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards; 
}


@keyframes regis_text {
    from {opacity: 0;top: -50px;}
    to {opacity: 1;top: 0;}
}

.regis_btn{
      background: white;
    border: white;
    border-radius: 25px !important;
    -webkit-border-radius: 25px!important;
      -moz-border-radius: 25px!important;
    font-size: 20px !important;
  /*  word-spacing: 3px;*/
    color: #585050;
    opacity: 0;
   position: relative;
    bottom: -50px;
    animation: regis_btn 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards; 
}

@keyframes regis_btn {
    from {opacity: 0;bottom: -50px;}
    to {opacity: 1;bottom: 0;}
}
.Tab_divStyle{
  display: none;
}

.tabs_btn1{
  width: 230px;
    background: #fff9f6;
    color: #585858;
    border-color: #ffcaad !important;
}
.tabs_btn2{
  width: 95px;
    color: #fff;
    background-color: #fff9f6;
    border-color: #ffcaad !important;
}
.tabs_btn1:focus{
  background: #fff9f6;
    color: #585858;
}
/*.tabs_btn2:focus{
  background: #fff9f6;
    color: #585858;
}*/
.imgsWidth{
  width: 95%;

  border-radius: 5px;
  -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
}

.carousel-indicators li {
  width: 10px!important;
  height: 10px!important;
  border-radius: 100%;
  -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
  cursor: pointer;
      /*background-color: rgba(101, 0, 0, 0.5) !important;*/
      bottom: -45px !important;
}
/*.carousel-indicators .active {
    background-color: #480000 !important;
}*/
.carousel-caption {
       position: relative!important;
     right: 0 !important; 
    top: 11px;
     left: 0!important; 
    z-index: 10;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #fff;
    text-align: center;
    width: 95%!important;
        margin: auto;
}

.caption_text{
      background: #5087c8;
    padding: 4px;
    color: #ffffff!important;
    border-radius: 5px;
}

.carousel-control-prev {
    left: -35px!important;
}

.carousel-control-next {
    right: -35px!important;
}

.captionAnimation{
 opacity: 0;
   position: relative;
    top: -20px;
    animation: captionAnimation 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards; 
}

@keyframes captionAnimation {
    from {opacity: 0;top: -20px;}
    to {opacity: 1;top: 0;}
}
.globe_icon{
  font-size: 20px!important;
  
}
.play_icon{
         position: relative;
    font-size: 9px !important;
    top: -3px;
    left: -3px;
}
.web_text_style{
      font-size: 1rem;
    font-family: sans-serif;
    position: relative;
    top: 0px;
        font-style: italic;

}
.linkBtn{
      color: white;
    text-decoration: none;
    background: #e72719;
    padding: 4px;
    border: 1;
        color: white;
    text-decoration: none !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px; 
}
.linkBtn:hover{
  color: white;
}
/**************************************** *Click Btn on each Slides* ****************************************/
.clickBtn1 {
    position: absolute;
    opacity: 0.8;
    right: 17%;
    top: 12%;
}
.clickBtn2 {
    position: absolute;
    opacity: 0.8;
    right: 57%;
    top: 18%;
}
.clickBtn3 {
    position: absolute;
    opacity: 0.8;
    right: 42%;
    top: 34%;
}
.clickBtn4 {
    position: absolute;
    opacity: 0.8;
    right: 42%;
    top: 70%;
}
.clickBtn5 {
    position: absolute;
    opacity: 0.8;
    right: 2%;
    top: 19%;
}
.clickBtn6 {
    position: absolute;
    opacity: 0.8;
    right: 53%;
    top: 54%;
}
.clickBtn7 {
    position: absolute;
    opacity: 0.8;
    right: 23%;
    top: 48%;
}
.clickBtn8 {
    position: absolute;
    opacity: 0.8;
    right: 77%;
    top: 73%;
}
.clickBtn9 {
    position: absolute;
    opacity: 0.8;
    right: 32%;
    top: 59%;
}
.clickBtn10 {
    position: absolute;
    opacity: 0.8;
    right: 7%;
    top: 93%;
}
.clickBtn11 {
    position: absolute;
    opacity: 0.8;
    right: 42%;
    top: 80%;
}
.clickBtn12 {
    position: absolute;
    opacity: 0.8;
    right: 68%;
    top: 48%;
}
.clickBtn13 {
    position: absolute;
    opacity: 0.8;
    right: 66%;
    top: 42%;
}
.clickBtn14 {
    position: absolute;
    opacity: 0.8;
    right: 71%;
    top: 31%;
}
.clickBtn15 {
    position: absolute;
    opacity: 0.8;
    right: 42%;
    top: 41%;
}
.clickBtn16 {
    position: absolute;
    opacity: 0.8;
    right: 70%;
    top: 31%;
}
.clickBtn17 {
    position: absolute;
    opacity: 0.8;
    right: 70%;
    top: 44%;
}
.clickBtn18 {
    position: absolute;
    opacity: 0.8;
    right: 60%;
    top: 83%;
}
/*.clickBtn19 {
    position: absolute;
    opacity: 0.8;
    right: 77%;
    top: 73%;
}*/


.gifBtnstyle{
  width: 45px;
}

/**************************************** *Click Btn on each Slides* ****************************************/
@media only screen and (max-width: 600px) {
.imgsWidth {
    width: 85%;
  
    border-radius: 5px;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
}
.wrapperDiv {
   /* max-width: 400px;*/
   width: 100%;
  
    margin: auto;
   
}
.tabs_btn1{
  width: 190px;

}
.tabs_btn2{
  width: 100px;
    
}
.carousel-caption {
   
    width: 85%!important;

}


}
